<div class="sentiment-card" *ngIf="stock$ |async as stock">
  <h2>{{ stock.name }}</h2>
  <h4>{{ stock.symbol }}</h4>
  <div class="card-body">
    <div *ngFor="let lastStockSentiment of stock.lastStockSentiments">
      <h5>{{ lastStockSentiment.month }} {{ lastStockSentiment.year }}</h5>
      <p>change: {{ lastStockSentiment.change }}</p>
      <p>mspr: {{ lastStockSentiment.mspr }}</p>
      <div *ngIf="lastStockSentiment.change > 0 ; else trendDown">
        <img src="assets/images/trendUp.png" alt="trendUp">
      </div>
      <ng-template #trendDown>
        <div>
          <img src="assets/images/trendDown.png" alt="trendDown">
        </div>
      </ng-template>
    </div>
  </div>
  <button routerLink="">backToStockList!</button>
</div>
