.form-card {
  box-sizing: border-box;
  width: 50%;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: lightgray 4px 4px 20px;
}

.form-group {
  margin: 20px auto;
}

input,
textarea {
  width: 50%;
}

button {
  margin-left: 20px;
}
